@import 'vendors/_bootstrap.scss';

$primary-color:#3b5a76;
$background-color:#ededed;
$text-color:#362626;
$font:16px;

body{
    padding-bottom: 0;
    font-family: 'Open Sans',arial, Tahoma;
    color:$text-color;
    background: $background-color;
    font-size:$font;
}

